.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
}

.footer__content {
  padding: 60px 80px 108px 80px;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column {
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footer__column-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  text-decoration: none;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social-heading {
  margin: 0;
  font-weight: 500;
}

.footer__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin-top: 20px;
  margin-bottom: 0px;
}

.footer__list-item:last-of-type {
  margin-top: 16px;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
}

.footer__social-link {
  margin: 0;
  color: #fff;
  transition: color 0.3s 0.3s ease-in-out;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  margin: 0;
  padding-bottom: 60px;
  padding-left: 80px;
}
