.form {
  display: flex;
  flex-direction: column;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  width: 385px;
  margin: 0;
  padding: 0;
}

.form__label {
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;
}

.form__input {
  height: 60px;
  border-radius: 4px;
  margin-bottom: 32px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  border-color: #838383;
}

.form__button {
  background-color: #2f80ed;
  color: #fff;
  height: 60px;
  border-radius: 4px;
  opacity: 100%;
  transition: opacity ease-in-out 0.3s 0.3s;
  margin-bottom: 32px;
  padding: 0;
  border: none;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  border-radius: 2px;
  margin-right: 12px;
  height: 20px;
  width: 20px;
}
