.header {
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}

.header__title {
  padding-top: 183px;
  padding-left: 80px;
  max-width: 729px;
  margin: 0;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  z-index: 1;
}

.header__span-accent {
  margin-left: 80px;
  max-width: 729px;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  z-index: 1;
}

.header__description {
  margin-top: 28px;
  max-width: 683px;
  margin-left: 80px;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-size: 20px;
  line-height: 30px;
  z-index: 1;
}

.header__image {
  max-width: 646px;
  position: absolute;
  top: 124px;
  right: 5px;
  z-index: 0;
  border-radius: 50%;
  transform: scale(0.8);
}

.header__footer {
  box-sizing: border-box;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  color: #838383;
  font-size: 16px;
  line-height: 20px;
}

.header__paragraph {
  margin-bottom: 0;
}

.header__footer_hours {
  position: relative;
  bottom: 40px;
  left: 80px;
}

.header__paragraph:not(:first-of-type) {
  margin-top: 0;
}

.header__footer_address {
  display: flex;
  align-self: flex-end;
  position: relative;
  bottom: 40px;
  right: 80px;
}
