.nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: 30px;
  top: 30px;
  margin-right: auto;
}

.nav__links {
  margin: 0;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  position: relative;
  top: 30px;
  right: 80px;
  font-weight: 500;
  align-content: center;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out 0.3s;
}
.nav__link:hover {
  color: #2f80ed;
}
